@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo Management Tool</h1>
    @Html.ActionLink("Click here to create a new Task", "Index", "ToDoes", new { area = "" }, new { @class = "navbar-brand" })

</div>

<div class="row">
    
</div>